[submodule "SOICbite"]
	path = SOICbite
	url = https://github.com/SimonMerrett/SOICbite.git
[submodule "Panelization.pretty"]
	path = Panelization.pretty
	url = https://github.com/madworm/Panelization.pretty.git
